[submodule "tex/binder-wse-sketches"]
	path = tex/binder-wse-sketches
	url = https://github.com/mmore500/wse-sketches
	branch = binder
[submodule "tex/binder-reconstruction-quality"]
	path = tex/binder-reconstruction-quality
	url = https://github.com/mmore500/hstrat-reconstruction-quality.git
	branch = binder
[submodule "tex/surface-concept-binder"]
	path = tex/binder-surface-concept
	url = https://github.com/mmore500/hstrat-surface-concept.git
	branch = binder
[submodule "tex/binder"]
	path = tex/binder
	url = https://github.com/mmore500/wse-sketches.git
	branch = binder
[submodule "tex/binder-wafer-scale"]
	path = tex/binder-wafer-scale
	url = https://github.com/mmore500/hstrat-wafer-scale.git
	branch = binder
[submodule "tex/bindertex-evolutionary-inference"]
	path = tex/bindertex-evolutionary-inference
	url = https://github.com/mmore500/hstrat-evolutionary-inference.git
	branch = tex
[submodule "wse-sketches"]
	path = wse-sketches
	url = https://github.com/mmore500/wse-sketches.git
[submodule "hstrat-surface-concept"]
	path = hstrat-surface-concept
	url = https://github.com/mmore500/hstrat-surface-concept.git
[submodule "tex-extended-abstract"]
	path = tex-extended-abstract
	url = https://github.com/mmore500/hstrat-wafer-scale.git
	branch = tex-extended-abstract
